/src/t3config
/libt3config-*.tar.bz2
/src/config_shared.c
/src/config_errors.h
/src/config_api.h
.libs
.objects
.deps
/src/test*
/src/libt3config.la
/doc/API
/doc/doxygen.conf
/doc/DoxygenLayout.xml
/testsuite/*/test/test
/testsuite/*/testlog*
/testsuite/*/work
/testsuite/pathcleanse/test
doc/examples/example
